/* Start Variables */
:root {
    --mainColor: rgb(73, 212, 198);
}
html{     scroll-behavior: smooth; }

/* End Variables */

/* start component */
.special-heading {
    text-align: center;
    font-size: 100px;
    color: rgb(235, 237, 236);
    letter-spacing: -5px;
    font-weight: 800;
    margin: 0px;

}

/* end components */

/* Start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "Work Sans", "sans-serif";
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start header  */

.logo {
    width: 45px;
    height: 20px;

}

.header>.container {
    display: flex;
    justify-content: space-between;
}

.burgerlogo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.burgerlogo span {
    width: 30px;
    height: 2px;
    background-color: black;
    margin-bottom: 3px;
}

.burgerlogo span:nth-child(2) {
    width: 12px;
    transition-duration: 0.4s;

}

.burgerlogo:hover span:nth-child(2) {
    width: 30px;
}

.container .links:hover ul {
    display: block;

}

.links ul li a {
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    padding: 10px;
    margin: 0px;
}

.links ul li a:hover {
    padding-left: 20px;
}

.links ul li:not(:last-child) {
    border-bottom: 0.4px solid black;
}
.hsn{
    position: relative;
}
.hsn::before{
    content: "";
    position: absolute;
    left: -31px;
    bottom: -29px;
    border: 44px solid;
    border-color: transparent transparent rgb(255,255,255)transparent;
    z-index: -1;
}
.links ul {
    margin: 0px;
    list-style: none;
    margin-right: 15px;
    display: none;
    padding: 0px;
    padding-right: 30px;
    position: absolute;
    left: -119px;
    bottom: -177px;
    width: 170px;
    z-index: 200;
    background-color: rgb(255,255,255);
}


/* End header  */
/* start landing section  */
.landing {
    background-image: url(../assets/landing.jpg);
    background-size: cover;
    height: calc(100vh - 50px);
    position: relative;
}

.landing-intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 305px;
    max-width: 100%;
}

.landing-intro h1 {
    color: var(--mainColor);
    font-size: 50px;
    margin: 0px;
}

.landing-intro p {
    line-height: 1.8;

}

/* end landing section */
/* start features */
.features {
    padding: 40px 0px;
    text-align: center;


}

.container .feat i {
    color: var(--mainColor);
}

.container .feat h3 {
    font-weight: 800;
    font-size: 21px;
    margin: 25px 0;
}

.container .feat p {
    line-height: 1.8;
    font-size: 17px;
    color: rgb(118, 118, 119);
}


.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 60px;
}

/* end features */
/* start services */
.services {
    padding: 40px 0px;

}

.special-heading+p {
    padding: 0px;
    text-align: center;
    margin: -40px;
    color: rgb(120, 120, 121);
    font-size: 21px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 120px;
}

.services-content .col .p {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;

}

@media (max-width: 767px) {
    .container .services-content .p {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }
}

.col .p .text p {
    color: rgb(118, 118, 119);
}

.container .col .shape {
    position: relative;

}

.container .col .shape::before {
    content: "";
    width: 114px;
    height: 581px;
    background-color: rgb(44, 71, 85);
    position: absolute;
    left: 290px;
    top: -537px;
    z-index: -1;
}

.container .col .p i {
    color: var(--mainColor);
}

/* end services */
/* start Portfolio */
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
    grid-gap: 30px;

}

.container .project .info h3 {
    margin: 0px;
}

.container .project .info p {
    margin-bottom: 0px;
    color: rgb(118, 118, 119);

}

.container .project .info {
    padding: 12px;
}

.portfolio {
    padding: 40px 0px;

}

/* end Portfolio */
/* start about */
.about {
    padding: 50px;

}

.about-content {
    margin-top: 90px;
    display: flex;
    gap: 175px;

}

@media (max-width:991px) {
    .about-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
    }
}

.container .about-content .img {
    width: 250px;
    height: 375px;
}

.about-content .text p {
    margin-bottom: 20px;
    margin-bottom: 40px;
    line-height: 1.8;
}

.about-content .text p:first-child {
    font-weight: bold;
}

.about .container .about-content .img {
    position: relative;
}

.about .container .about-content .img::before {
    content: "";
    position: absolute;
    width: 92px;
    height: 455px;
    background-color: rgb(235, 237, 236);
    left: -20px;
    top: -37px;
    z-index: -1;
}

.about .container .about-content .img::after {
    content: "";
    position: absolute;
    width: 117px;
    height: 299px;
    border-bottom: 78px solid rgb(16, 203, 182);
    border-left: 96px solid rgb(16, 203, 182);
    right: -159px;
    top: -37px;
    z-index: -1;
}
@media (max-width:767px) {
    .about .container .about-content .img::after{
        content: "";
    position: absolute;
    width: 72px;
    height: 299px;
    border-bottom: 78px solid rgb(16, 203, 182);
    border-left: 96px solid rgb(16, 203, 182);
    right: -102px;
    top: -37px;
    z-index: -1;
    }
    
}

/* end about */
/* start contact */
.contact {
    padding: 40px;

}

@media (max-width:767px) {
    .special-heading {
        font-size: 68px;
    }

}

.container .last-info {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;

}

.container .last-info h3 {
    letter-spacing: -4px;
    color: rgb(44, 71, 85);
    font-size: 38px;
    margin-bottom: 20px;

}

@media (max-width:767px) {
    .container .last-info h3 {
        letter-spacing: -1px;
        font-size: 27px;
    }
}

.container .last-info .mail {
    text-decoration: none;
    color: var(--mainColor);
    font-size: 29px;
    font-weight: bold;
}

@media (max-width:767px) {
    .container .last-info .mail {
        font-size: 17px;
    }
}

.container .last-info .last-text {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

/* end contact */

/* start footer  */
.footer {
    background-color: rgb(44, 71, 85);
}

.footer .container .copy-right {
    color: white;
    text-align: center;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 400;
}

.footer .container .copy-right span {
    color: var(--mainColor);
    font-weight: 700;
}

/* end footer  */